@import "compass/css3/transition";
@import "root";

$appbar-background-color: rgba(83, 83, 83, 0.97);
$appbar-idle-background-color: rgba(83, 83, 83, 0.3);
$appbar-height: 3.5em;
$appbar-text-color: #eee;

body {
	position: relative;
	padding-top: $appbar-height;
}

app-bar {
	@include single-transition(opacity, .5s, cubic-bezier(0, 0.05, 0.3, 1));
	color: $appbar-text-color;
	
	display: block;
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;

	box-sizing: border-box;
	height: $appbar-height;
	padding: $standard-padding;
	width: 100%;
	
	background-color: $appbar-background-color;
	box-shadow: 0em 0em 1em 0.3em #8F8F8F;
	
	&.idle {
		opacity: 0.1;
	}
	
	a, a:visited {
	   color: $appbar-text-color;
	}
}

.appbar {
    &__nav {
       font-size: 2em;
       float: left;
       
       &__back:hover {
        background-color: darken($appbar-background-color, 5%);
       }
    }
    
    &__system-buttons {
       font-size: 2em;
       float: right;
       
       * {
        padding: 0 0.2em;
       }
       
       *:hover {
           background-color: darken($appbar-background-color, 5%);
       }
    }
}
