@import "compass/css3/transition";
@import "root";

app-cards {
    display: block;
    position: relative;
}

app-card {
    @include single-transition(opacity, .2s, cubic-bezier(0, 0.25, 0.3, 1));
    
    position: absolute;
    z-index: -1;
    display: block;
    opacity: 0;
    
    &.active {
        display: block;
        z-index: 0;
        opacity: 1;    
    }
}