@import "root";

$app-background-color: rgba(248, 241, 229, 1);

* {
	padding: 0;
	margin: 0;
	cursor: inherit;
}

html {
	background-color: $app-background-color;
	background-image: url('../images/appbg.png');
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

body {
	width: 100%;
	min-height: 100%;
	cursor: default;
	box-sizing: border-box;
	
	color: $static-text-color;
}

p {
	color: $default-text-color;
}