$default-text-color: #473737;
$static-text-color: lighten(#473737, 10%);

$standard-padding: 0.5rem;

$app-background-color: white;
$link-color: rgb(41, 33, 33);

$appbar-background-color: rgba(83, 83, 83, 0.97);
$appbar-idle-background-color: rgba(83, 83, 83, 0.3);
$appbar-height: 3.5em;
$appbar-text-color: #eee;

$product-background-color: #EAEAEB;

$title-space-left: .5em;

$h1-font-size: 2em;

$button-bg-color: #F3D79D;

$offline-mode-warning-bg-color: rgb(61, 61, 61);
$offline-mode-warning-text-color: white;