@import "../root";

@media print {

    app-bar {
        visibility: hidden;
    }
    
    .no-print {
        display: none;
    }
    
    .print {
        display: block;
    }
}
