@import "root";

.products {

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    
    &__product {
        cursor: pointer;
        padding: 1em;
        margin: 0.5em;
        
        flex: 1 1 auto;
        max-width: 16em;
        
        img {
            max-width: 15em;
            max-height: 15em;
        }
    }
}

.product {

    h1 {
        padding: .3em 0 0 0.5em;
        display: inline-block;
        vertical-align: baseline;
    }
    
    &__price {
        display: inline-block;
        vertical-align: super;
        font-size: 1.4em;
        padding-left: 0.5em;
        color: lighten($default-text-color, 40%);
    }

    img {
        padding: 0.3em 0.5em 0em 0.5em ;
        box-sizing: border-box;
        max-width: 100%;
    }
    
}
