@import "root";

.products {

    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    
    &__product {
        cursor: pointer;
        padding: 1em;
        margin: 0.5em;
        
        flex: 1 1 auto;
        max-width: 16em;
        
        img {
            max-width: 15em;
            max-height: 15em;
        }
        
        &__details {
        	padding-top: 0.5em;
        	text-align: center;
	        button {
	        	font-size: 1em;
	       	}
        }
    }
}

.product {
    max-width: 33em;
    padding: 0 $title-space-left * $h1-font-size / 1em;
    margin: auto;
    
    h1 {
        display: block;
        padding-right: 3em;
        position: relative;
    }
    
    &__price {
        vertical-align: baseline;
        font-size: 1em;
    }

    &__image {
        text-align: center;
        padding-top: 2em;
    }

    img {
        box-sizing: border-box;
        max-width: 100%;
    }
    
    &__add-to-cart {
        font-size: 1em / $h1-font-size * 1em;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: $title-space-left;
        vertical-align: baseline;
    }
    
}
