<div tpl-name="shopping-cart" class="shopping-cart">
    <h1 class="no-print">{ items | translate Shopping cart }</h1>
    <h1 class="print">Invoice no. 34902834</h1>
    
    <div rv-show="cart:productsCount" class="shopping-cart__list">
	    <table>
	       <thead>
	           <th colspan="2">Product</th>
	           <th>Price</th>
	           <th>Qty</th>
	           <th>Total</th>
	       </thead>
	        <tbody>
		        
		        <tr rv-each-item="items">
		            <td>{ item:product:name }</td>
                    <td><img rv-src="item:product:image | gallery-img-url" /></td>
		            <td>{ item:product:price | currency }</td>
		            <td>{ item:quantity }</td>
		            <td>{ item:ammount | currency }</td>
		        </tr>
		        
		        <tr class="shopping-cart__total">
		            <td colspan="4">Total</td>
		            <td>{ cart:totalAmmount | currency }</td>
		        </tr>
		        
	        </tbody>
	    </table>
	    
	    <div class="shopping-cart__list__place-the-order">
	       <button rv-on-click="placeTheOrder" class="no-print">Place the order</button>
	    </div>
    </div>
    
    <div rv-hide="cart:productsCount" class="shopping-cart__no-items">
        <p>There are no items in your basket</p>
    </div>    
    
</div>
