@import "../root";

app-cards {
    display: block;
    position: relative;
}

app-card {
    display: none;
    
    &.active {
        display: block;
    }
}

.app-card {
    &__content {
        display: none;
    }
    
    &__loader {
        //background: url('../images/card-loader.gif') no-repeat center;
        height: 10em;
    }
}